<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
    <add name="SqlAuthenticationConnection" connectionString="Server=tcp:tshmerakidb.database.windows.net,1433;Initial Catalog=THSMerakidb;Persist Security Info=False;User ID=localadmin;Password=JCscanhub!@#$%;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;" providerName="System.Data.SqlClient" />  </connectionStrings>
</configuration>